/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

/* COLOR GUIDE */
:root {
   --darkestGray: #1E2326;
   --darkGray: #2A3136;
   --mediumGray: #555555;
   --lightGray: #F6F6F6;
   --blueGray: #5D6C75;
   --darkestBlue: #385D75;
   --darkBlue: #9AB1C2;
   --mediumBlue: #AECADB;
   --heavyBlue: #24AAFF;
   --blue: #79C6F7;
   --lightBlue: #C1E1F5;
}

/* RESET STYLES */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   color: var(--darkestBlue);
}

p {
 color: var(--mediumGray);
}
 
button {
   border: none;
   cursor: pointer;
}
 
ul {
   margin: 0;
   margin-block-start: 0;
   padding-inline-start: 0;
}
 
li {
   list-style: none;
}

textarea {
   resize: none;
   border: .5px var(--dobcon-medium-gray);
   padding: .35rem .5rem;
   outline: none;
   font-family: Arial, Helvetica, sans-serif;
}

input {
   border: none;
   border-radius: 3px;
   padding: .35rem .5rem;
   font-family: Arial, Helvetica, sans-serif;
}

input:focus-visible {
   outline: 1px solid var(--dobcon-medium-gray);
}

select {
   height: 28px;
   outline: none;
   border: none;
}

/* GRID STYLES */
.grid {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 10px;
}

/* POSITION STYELS */
.between {
   justify-content: space-between;
}

.around {
   justify-content: space-around;
}

/* CONTAINERS */
.genContainer {
   grid-column: 2 / 12;  
   margin: 2rem auto;
}

.grayContainer {
   background-color: var(--lightGray);
   grid-column: 1 / 13;  
   padding: 2rem 0;
}

.width40 {
   width: 100%;
}

.width60 {
   width: 100%;
}

.fullContainer {
   grid-column: 1 / 13;  
}

.flexContainer {
   display: flex;
}

.flexWrap {
   flex-wrap: wrap;
}

.flexWrap {
   flex-wrap: wrap;
}
/* TEXT PROPIERTIES */
.tac {
   text-align: center;
}

.whiteText {
   color: #FFF;
}

/* BUTTONS */
.ghost__btn {
   display: inline-block;
   margin: 1rem 0;
   color: #FFF;
   padding: .5rem 2.25rem;
   border: 1px solid #FFF;
   box-shadow: inset 0 0 0 0 var(--blue);
   transition: 0.5s;
}

.ghost__btn:hover {
   border: 1px solid var(--blue);
   box-shadow: inset 600px 0 0 0 var(--blue);
}

/* HR STYLES */
.underLine{
   width: 195px;
   border: 2px solid var(--blue);
   margin: .25rem auto;
   display: flex;
}

/* DISPLAY STYLES */
.hideOnMobile {
   display: none;
}

/* NAVBAR MENÚ */
#navBar {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column: 1 / 13;
   column-gap: 10px;
   height: 60px;
   background-color: var(--darkestGray);
   margin-bottom: -1px;
}

.navBar__container {
   grid-column: 2 / 12;
   z-index: 10000;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navBar__container ul {
   display: none;
   grid-template-columns: repeat(12, 1fr);
   margin-top: -1px;
   width: 100%;
   position: absolute;
   top: 60px;
   left: 0;
   background-color: #2a3136ea;
}

.navBar__container ul li {
   grid-column: 2 / 12;
}

.navBar__container ul li a {
   padding: 1.25rem 0;
   display: block;
}

[id^=show__menu]:checked + ul {
   display: grid;
}

#navBar a {
   color: #FFF;
   transition: .5s;
}

#navBar a:hover {
   color: var(--mediumBlue);
}

#show__menu {
   display: none;
}

.navBar__Logo {
   font-weight: 600;
   font-size: 30px;
}

.menu__icon {
   font-size: 25px;
   color: #FFF;
   cursor: pointer;
}

/* HOME BANNER */
.homeBanner {
   height: 440px;
   background-image: url("../images/backgrounds/home-banner.jpg");
   background-size: cover;
   background-color: #1e2326d7;
   background-blend-mode: color;
   background-attachment: fixed;
   background-position-y: -7.5rem;
   grid-column: 1 / 13;
   display: flex;
   align-items: center;
   justify-content: center;
}

.homeBanner__container {
   grid-column: 2 / 12;
   text-align: center;
   color: #FFF;
}

.homeBanner__img {
   width: 185px;
   border-radius: 185px;
   border: 3px solid #FFF;
   margin-bottom: 1.5rem;
   box-shadow: 5px 5px 15px var(--darkestGray);
}

/* PAGES BANNER */
.pagesBanner {
   height: 200px;
   background-image: url("../images/backgrounds/small-banner.jpeg");
   background-size: cover;
   background-color: #1e2326d7;
   background-blend-mode: color;
   background-attachment: fixed;
   grid-column: 1 / 13;
   background-position-y: -7.5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.pagesBanner__container {
   text-align: center;
   color: #FFF;
}

/* PERSONAL INFO */
.infoCards{
   width: 100%;
   background: var(--lightGray);
   padding: 1.5rem;
}

.infoCards__personal, .infoCards__interests {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.infoCards__personal div {
   margin-top: 1.5rem;
   width: 48%;
   line-height: 1.5;
}

.infoCards__personal div .fas {
   font-size: 30px;
   color: var(--blue);
}

.infoCards__personal p {
   font-size: 11px;
}

.infoCards__interests div {
   margin: 2rem 0 0;
   padding: 1.2rem 0;
   width: 45%;
   background-color: #FFF;
   border-radius: 10px;
   line-height: 1.75;
}

.infoCards__interests div .fas{
   color: var(--darkestBlue);
   font-size: 40px;
}

/* FOOTER */
footer {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column: 1 / 13;
   background-color: var(--darkestGray);
}

.footerContainer {
   text-align: center;
   color: #FFF;
   padding: 0 0 1.75rem;
   grid-column: 2 / 12;
}

.footerContainer ul {
   display: flex;
   justify-content: center;
}

.footerContainer ul li {
   margin: 0 .25rem 1rem;
}

.upBtn {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 45px;
   height: 45px;
   border-radius: 45px;
   background-color: var(--blue);
   color: #FFF;
   font-size: 16px;
   font-weight: 600;
   transition: .5s;
   position: relative;
   top: -22px;
}

.upBtn:hover {
   background-color: var(--heavyBlue);
}

footer .fab {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 35px;
   height: 35px;
   border-radius: 35px;
   border: 1px solid #FFF;
   color: #FFF;
   transition: .5s;
}

footer .fab:hover {
   background-color: var(--blue);
   border: 1px solid var(--blue);
}

/* PORTFOLIO STYLES */

.portfolioCards {
   width: 100%;
}

.portfolioCards div {
   background-color: var(--lightBlue);
   width: 150px;
   height: 150px;
   margin-bottom: 1.5rem;
}

/* SKILLS STYLES */ 
.skills__img {
   padding-right: 1.5rem;
   width: 100%;
}

/* RESUME STYLES */
.resume__cards h2 {
   margin-bottom: 1.5rem;
}

.resume__cards div {
   box-shadow: 0px 0px 15px #1e23261e;
   margin-bottom: 1.5rem;
   border-radius: 10px;
   padding: 1.5rem;
   text-align: left;
}

.resume__cards div span {
   color: var(--blue);
}

.resume__cards div h5 {
   color: var(--darkBlue);
   margin: .25rem 0;
}

/* CONTACT STYLES */
.contactForm, .contactMap {
   width: 90%;
   margin: 0 auto;
}

.contactMap iframe {
   width: 100%;
   height: 325px;
   padding-top: 2rem;
}

.contactForm input, textarea {
   width: 100%;
   padding: .75rem .5rem;
   box-shadow: 0px 0px 15px #1e23261e;
   margin: .5rem 0;
}

.contactForm textarea {
   height: 150px;
}

.contactForm input::placeholder, textarea::placeholder {
   color: var(--darkBlue);
}

.btn__blue {
   background: var(--blue);
   color: #FFF;
   padding: 1rem!important;
   transition: .3s;
}

.btn__blue:hover {
   background: var(--heavyBlue);
}

/* RESPONSIVE */
@media only screen and (min-width: 576px) and (max-width: 767px) {
 
   .contactForm, .contactMap {
      width: 75%;
   }

   .resume__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .resume__cards h2 {
      width: 100%;
   }

   .resume__cards div {
      width: 47.5%;
   }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

   .infoCards__personal div {
      width: 25%;
   }

   .infoCards__interests div {
      width: 22.5%;
   }

   .contactForm, .contactMap {
      width: 55%;
   }

   .resume__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   .resume__cards h2 {
      width: 100%;
   }

   .resume__cards div {
      width: 47.5%;
   }
}

@media only screen and (min-width: 1024px) {

   .menu__icon {
      display: none;
   }

   #navBar ul {
      display: flex;
      position: unset;
      background-color: transparent;
      width: auto;
   }

   #navBar ul li {
      margin-left: 1.5rem;
   }

   .fullContainer {
      grid-column: 2 / 12;
      margin: 2rem 0;
      justify-content: space-between;
   }

   .width40 {
      width: 40%;
   }
   
   .width60 {
      width: 60%;
   }

   .w50__desktop {
      width: 47.5%;
      margin-right: 1.25rem;
   }

   .infoCards {
      width: 47.5%;
      border-radius: 10px;
   }

   .infoCards__personal div {
      width: 46%;
      border-radius: 10px;
      padding: 1.1rem .75rem;
      background-color: #FFF;
   }

   .infoCards__interests div {
      width: 22.5%;
   }

   .infoCards__personal div, .infoCards__interests div {
      transition: .3s ease-in-out;
   }

   .infoCards__personal div:hover, .infoCards__interests div:hover {
      box-shadow: 0px 0px 15px #1e23261e;
   }

   .grayContainer {
      padding: 2.5rem;
   }

   .contactForm, .contactMap {
      width: 47.5%;
   }

   .hideOnMobile {
      display: block;
   }
}