@charset "UTF-8";
/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  color: #385D75; }

p {
  color: #555555; }

button {
  border: none;
  cursor: pointer; }

ul {
  margin: 0;
  margin-block-start: 0;
  padding-inline-start: 0; }

li {
  list-style: none; }

textarea {
  resize: none;
  border: 0.5px #555555;
  padding: .35rem .5rem;
  outline: none;
  font-family: Arial, Helvetica, sans-serif; }

input {
  border: none;
  border-radius: 3px;
  padding: .35rem .5rem;
  font-family: Arial, Helvetica, sans-serif; }

input:focus-visible {
  outline: 1px solid #555555; }

select {
  height: 28px;
  outline: none;
  border: none; }

/* MAP GET FOR COMMON STYLES */
/* MIXINS WHIT PARAMETERS */
/* CONTAINERS */
.grayContainer {
  background-color: #F6F6F6;
  grid-column: 1 / 13;
  padding: 2rem 0; }

.flexWrap {
  flex-wrap: wrap; }

/* TEXT PROPIERTIES */
.whiteText {
  color: #FFF; }

.textFadeIn {
  animation-duration: 3s;
  animation-name: textFadeIn; }

@keyframes textFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* BUTTON */
.ghost__btn {
  display: inline-block;
  margin: 1rem 0;
  color: #FFF;
  padding: .5rem 2.25rem;
  border: 1px solid #FFF;
  box-shadow: inset 0 0 0 0 #79C6F7;
  transition: 0.5s; }
  .ghost__btn:hover {
    color: #FFF;
    border: 1px solid #79C6F7;
    box-shadow: inset 600px 0 0 0 #79C6F7; }

/* HR STYLES */
.underLine {
  width: 195px;
  border: 2px solid #79C6F7;
  margin: .25rem auto;
  display: flex; }

/* DISPLAY STYLES */
.hideOnMobile {
  display: none; }

/* NAVBAR MENÚ */
#navBar {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / 13;
  column-gap: 10px;
  height: 60px;
  background: #191d20;
  background: linear-gradient(90deg, #191d20 0%, #303030 100%);
  margin-bottom: -1px; }
  #navBar a {
    transition: .5s; }

#navbarNav a:hover {
  color: #AECADB; }

.navBar__Logo {
  font-weight: 600;
  font-size: 30px; }

.menu__icon {
  font-size: 25px;
  color: #FFF;
  cursor: pointer; }

/* HOME BANNER */
.homeBanner {
  height: 440px;
  background-image: url("../images/backgrounds/home-banner.jpg");
  background-size: cover;
  background-color: #1e2326d7;
  background-blend-mode: color;
  background-attachment: fixed;
  background-position-y: -7.5rem;
  grid-column: 1 / 13;
  display: flex;
  align-items: center;
  justify-content: center; }

.homeBanner__container {
  grid-column: 2 / 12;
  text-align: center;
  color: #FFF; }

.homeBanner__img {
  width: 185px;
  border-radius: 185px;
  border: 3px solid #FFF;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 15px #1E2326; }

/* PAGES BANNER */
.pagesBanner {
  height: 200px;
  background-image: url("../images/backgrounds/small-banner.jpeg");
  background-size: cover;
  background-color: #1e2326d7;
  background-blend-mode: color;
  background-attachment: fixed;
  grid-column: 1 / 13;
  background-position-y: -7.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.pagesBanner__container {
  text-align: center;
  color: #FFF; }

/* PERSONAL INFO */
.infoCard {
  background: #F6F6F6;
  padding: 1.5rem;
  border-radius: 15px; }

.infoCards, .infoCards--personal, .infoCards--interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.infoCards--personal div {
  margin-top: 1.5rem;
  width: 48%;
  line-height: 1.5; }
  .infoCards--personal div .fas {
    font-size: 30px;
    color: #79C6F7; }

.infoCards--personal p {
  font-size: 11px; }

.infoCards--interests div {
  margin: 2rem 0 0;
  padding: 1.2rem 0;
  width: 45%;
  background-color: #FFF;
  border-radius: 10px;
  line-height: 1.75; }
  .infoCards--interests div .fas {
    color: #385D75;
    font-size: 40px; }

/* FOOTER */
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / 13;
  background: #191d20;
  background: linear-gradient(90deg, #191d20 0%, #303030 100%); }
  footer .fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #FFF;
    color: #FFF;
    transition: .5s; }
    footer .fab:hover {
      background-color: #79C6F7;
      border: 1px solid #79C6F7; }

.footerContainer {
  text-align: center;
  color: #FFF;
  padding: 0 0 1.75rem;
  grid-column: 2 / 12; }
  .footerContainer ul {
    display: flex;
    justify-content: center; }
    .footerContainer ul li {
      margin: 0 .25rem 1rem; }

.upBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: #79C6F7;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  transition: .5s;
  position: relative;
  top: -22px; }
  .upBtn:hover {
    color: #FFF;
    background-color: #24AAFF; }

/* PORTFOLIO STYLES */
.btn--all {
  background-color: #5D6C75 !important;
  color: #FFF;
  padding: .5rem 2rem;
  margin: 5px;
  transition: .3s;
  display: inline-flex;
  cursor: pointer; }
  .btn--all:hover {
    color: #FFF;
    background-color: #385D75 !important; }

.btn--webDesign {
  background-color: #9AB1C2 !important;
  color: #FFF;
  padding: .5rem 2rem;
  margin: 5px;
  transition: .3s;
  display: inline-flex;
  cursor: pointer; }
  .btn--webDesign:hover {
    color: #FFF;
    background-color: #385D75 !important; }

.btn--design {
  background-color: #AECADB !important;
  color: #FFF;
  padding: .5rem 2rem;
  margin: 5px;
  transition: .3s;
  display: inline-flex;
  cursor: pointer; }
  .btn--design:hover {
    color: #FFF;
    background-color: #385D75 !important; }

.btn--illustration {
  background-color: #C1E1F5 !important;
  color: #FFF;
  padding: .5rem 2rem;
  margin: 5px;
  transition: .3s;
  display: inline-flex;
  cursor: pointer; }
  .btn--illustration:hover {
    color: #FFF;
    background-color: #385D75 !important; }

.portfolioTab {
  background-color: #FFF;
  position: sticky;
  top: 0;
  padding: 0.5rem 0 !important;
  z-index: 2; }

.imgprt {
  overflow: hidden;
  border-radius: 10px; }

.imgprt img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  transition: .3s;
  cursor: pointer; }

.imgprt:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 1; }

/* SKILLS STYLES */
.skills__img {
  padding-right: 1.5rem;
  width: 100%;
  height: 630px;
  object-fit: contain;
  position: sticky;
  top: 2.25rem; }

.techSkills .skillCard {
  display: flex; }

.techSkills div img {
  width: 50px;
  height: 50px;
  margin: 0rem 1rem 1rem 0rem; }

/* RESUME STYLES */
.resume__cards h2 {
  margin-bottom: 1.5rem; }

.resume__cards div {
  box-shadow: 0px 0px 15px #1e23261e;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  padding: 1.5rem;
  text-align: left; }
  .resume__cards div span {
    color: #79C6F7; }
  .resume__cards div h5 {
    color: #9AB1C2;
    margin: .25rem 0; }
  .resume__cards div p strong {
    color: #79C6F7; }

/* CONTACT STYLES */
.contactForm, .contactMap {
  width: 90%;
  margin: 0 auto; }

.contactMap iframe {
  width: 100%;
  height: 325px;
  padding-top: 2rem; }

.contactForm input, textarea {
  width: 100%;
  padding: .75rem .5rem;
  box-shadow: 0px 0px 15px #1e23260a;
  margin: .5rem 0; }

.contactForm textarea {
  height: 150px; }

.contactForm input::placeholder, textarea::placeholder {
  color: #9AB1C2; }

.btn__blue {
  background: #79C6F7;
  color: #FFF;
  padding: 1rem;
  transition: .3s; }
  .btn__blue:hover {
    background: #24AAFF;
    color: #FFF; }

/* RESPONSIVE */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .contactForm, .contactMap {
    width: 75%; }
  .resume__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .resume__cards h2 {
      width: 100%; }
    .resume__cards div {
      width: 47.5%; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .infoCards--personal div {
    width: 48%;
    border-radius: 10px;
    padding: 1.1rem .75rem;
    background-color: #FFF; }
    .infoCards--personal div .fas {
      font-size: 30px; }
    .infoCards--personal div h3 {
      font-size: 13.5px; }
  .infoCards--interests div {
    width: 22.5%; }
  .contactForm, .contactMap {
    width: 55%; }
  .resume__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .resume__cards h2 {
      width: 100%; }
    .resume__cards div {
      width: 47.5%; } }

@media only screen and (min-width: 1024px) {
  .menu__icon {
    display: none; }
  #navBar ul {
    display: flex;
    position: unset;
    background-color: transparent;
    width: auto; }
    #navBar ul li {
      margin-left: 1.5rem; }
  .w50__desktop {
    width: 47.5%; }
  .infoCards--personal div {
    width: 46%;
    border-radius: 10px;
    padding: 1.1rem .75rem;
    background-color: #FFF; }
  .infoCards--interests div {
    width: 22.5%; }
  .infoCards--personal div, .infoCards--interests div {
    transition: .3s ease-in-out; }
    .infoCards--personal div:hover, .infoCards--interests div:hover {
      box-shadow: 0px 0px 15px #1e23261e; }
  .grayContainer {
    padding: 2.5rem; }
  .contactForm, .contactMap {
    width: 47.5%; }
  .hideOnMobile {
    display: block; }
  .contactMap iframe {
    height: 95%; } }

/* BOOTSTRAP RESET */
.navbar-dark .navbar-toggler {
  border: none; }

.navbar-toggler:focus {
  box-shadow: none; }

p {
  margin: 0; }

.row {
  margin: 0; }

.row > * {
  padding: 0; }

.m-4 {
  margin: 2.5rem 0 !important; }

.progress-bar {
  background-color: #79C6F7; }

.nav-pills .nav-link {
  border-radius: 0; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #385D75 !important; }

.imgprt {
  margin: 0 .75rem 1.5rem; }

.modal {
  justify-content: center;
  align-items: center; }

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center; }

.modal-dialog img {
  height: 600px; }
