$darkestGray: #1E2326;
$darkGray: #2A3136;
$mediumGray: #555555;
$lightGray: #F6F6F6;
$blueGray: #5D6C75;
$darkestBlue: #385D75;
$darkBlue: #9AB1C2;
$mediumBlue: #AECADB;
$heavyBlue: #24AAFF;
$blue: #79C6F7;
$lightBlue: #C1E1F5;

