/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import "colors.scss";

/* RESET STYLES */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}

a {
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   color: $darkestBlue;
}

p {
   color: $mediumGray;
}
 
button {
   border: none;
   cursor: pointer;
}
 
ul {
   margin: 0;
   margin-block-start: 0;
   padding-inline-start: 0;
}
 
li {
   list-style: none;
}

textarea {
   resize: none;
   border: .5px $mediumGray;
   padding: .35rem .5rem;
   outline: none;
   font-family: Arial, Helvetica, sans-serif;
}

input {
   border: none;
   border-radius: 3px;
   padding: .35rem .5rem;
   font-family: Arial, Helvetica, sans-serif;
}

input:focus-visible {
   outline: 1px solid $mediumGray;
}

select {
   height: 28px;
   outline: none;
   border: none;
}

/* MAP GET FOR COMMON STYLES */
$commonStyles: (
  borderRadius: 10px,
  textCenter: center,
  alignCenter: center,
  justifyCenter: center,
);

/* MIXINS WHIT PARAMETERS */
@mixin sizes($width, $height){
   width: $width;
   height: $height;
}

/* CONTAINERS */
.grayContainer {
   background-color: $lightGray;
   grid-column: 1 / 13;
   padding: 2rem 0;
}

.flexWrap {
   flex-wrap: wrap;
}

/* TEXT PROPIERTIES */
.whiteText {
   color: #FFF;
}

.textFadeIn {
   animation-duration: 3s;
   animation-name: textFadeIn;
}

@keyframes textFadeIn {
   from {
       opacity: 0;
   }
   to {
       opacity: 1;
   }
}

/* BUTTON */
.ghost__btn {
   display: inline-block;
   margin: 1rem 0;
   color: #FFF;
   padding: .5rem 2.25rem;
   border: 1px solid #FFF;
   box-shadow: inset 0 0 0 0 $blue;
   transition: 0.5s;
   &:hover {
      color: #FFF;
      border: 1px solid $blue;
      box-shadow: inset 600px 0 0 0 $blue;
   }
}

/* HR STYLES */
.underLine{
   width: 195px;
   border: 2px solid $blue;
   margin: .25rem auto;
   display: flex;
}

/* DISPLAY STYLES */
.hideOnMobile {
   display: none;
}

/* NAVBAR MENÚ */
#navBar {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column: 1 / 13;
   column-gap: 10px;
   height: 60px;
   background: rgb(25,29,32);
   background: linear-gradient(90deg, rgba(25,29,32,1) 0%, rgba(48,48,48,1) 100%);
   margin-bottom: -1px;
   a {
      transition: .5s;
   }
}

#navbarNav a:hover {
   color: $mediumBlue;
}

.navBar__Logo {
   font-weight: 600;
   font-size: 30px;
}

.menu__icon {
   font-size: 25px;
   color: #FFF;
   cursor: pointer;
}

/* HOME BANNER */
.homeBanner {
   height: 440px;
   background-image: url("../images/backgrounds/home-banner.jpg");
   background-size: cover;
   background-color: #1e2326d7;
   background-blend-mode: color;
   background-attachment: fixed;
   background-position-y: -7.5rem;
   grid-column: 1 / 13;
   display: flex;
   align-items:map-get($commonStyles, alignCenter);
   justify-content:map-get($commonStyles, justifyCenter);
}

.homeBanner__container {
   grid-column: 2 / 12;
   text-align:map-get($commonStyles, textCenter);
   color: #FFF;
}

.homeBanner__img {
   width: 185px;
   border-radius: 185px;
   border: 3px solid #FFF;
   margin-bottom: 1.5rem;
   box-shadow: 5px 5px 15px $darkestGray;
}

/* PAGES BANNER */
.pagesBanner {
   height: 200px;
   background-image: url("../images/backgrounds/small-banner.jpeg");
   background-size: cover;
   background-color: #1e2326d7;
   background-blend-mode: color;
   background-attachment: fixed;
   grid-column: 1 / 13;
   background-position-y: -7.5rem;
   display: flex;
   justify-content:map-get($commonStyles, justifyCenter);
   align-items:map-get($commonStyles, alignCenter);
}

.pagesBanner__container {
   text-align:map-get($commonStyles, textCenter);
   color: #FFF;
}

/* PERSONAL INFO */

.infoCard {
   background: $lightGray;
   padding: 1.5rem;
   border-radius: 15px;
}

.infoCards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.infoCards--personal {
   @extend .infoCards;
   div {
      margin-top: 1.5rem;
      width: 48%;
      line-height: 1.5;
      .fas {
         font-size: 30px;
         color: $blue;
      }
   }
   p {
      font-size: 11px;
   }
}

.infoCards--interests {
   @extend .infoCards;
   div {
      margin: 2rem 0 0;
      padding: 1.2rem 0;
      width: 45%;
      background-color: #FFF;
      border-radius: map-get($commonStyles, borderRadius);
      line-height: 1.75;
      .fas {
         color: $darkestBlue;
         font-size: 40px;
      }
   }
}

/* FOOTER */
footer {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column: 1 / 13;
   background: rgb(25,29,32);
   background: linear-gradient(90deg, rgba(25,29,32,1) 0%, rgba(48,48,48,1) 100%);
   .fab {
      display: inline-flex;
      align-items:map-get($commonStyles, alignCenter);
      justify-content:map-get($commonStyles, justifyCenter);
      @include sizes(35px, 35px);
      border-radius: 35px;
      border: 1px solid #FFF;
      color: #FFF;
      transition: .5s;
      &:hover {
         background-color: $blue;
         border: 1px solid $blue;
      }
   }
}

.footerContainer {
   text-align:map-get($commonStyles, textCenter);
   color: #FFF;
   padding: 0 0 1.75rem;
   grid-column: 2 / 12;
   ul {
      display: flex;
      justify-content:map-get($commonStyles, justifyCenter);
      li {
         margin: 0 .25rem 1rem;
      }
   }
}

.upBtn {
   display: inline-flex;
   align-items:map-get($commonStyles, alignCenter);
   justify-content:map-get($commonStyles, justifyCenter);
   @include sizes(45px, 45px);
   border-radius: 45px;
   background-color: $blue;
   color: #FFF;
   font-size: 16px;
   font-weight: 600;
   transition: .5s;
   position: relative;
   top: -22px;
   &:hover {
      color: #FFF;
      background-color: $heavyBlue;
   }
}

/* PORTFOLIO STYLES */

$portfolioBtn: (
   all: $blueGray,
   webDesign: $darkBlue,
   design: $mediumBlue,
   illustration: $lightBlue
); 

@each $btn, $color in $portfolioBtn {
   .btn--#{$btn} {
      background-color: $color!important;
      color: #FFF;
      padding: .5rem 2rem;
      margin: 5px;
      transition: .3s;
      display: inline-flex;
      cursor: pointer;
      &:hover {
         color: #FFF;
         background-color: $darkestBlue!important;
      }
   }
}

.portfolioTab {
   background-color: #FFF;
   position: sticky;
   top: 0;
   padding: .5rem 0!important;
}

.imgprt img {
   height: 300px;
   width: 100%;
   object-fit: cover;
   border-radius: 10px;
}

/* SKILLS STYLES */ 
.skills__img {
   padding-right: 1.5rem;
   @include sizes(100%, 630px);
   object-fit: contain;
   position: sticky;
   top: 2.25rem;
}

.techSkills {
   .skillCard {
      display: flex;
   }
   div {
      img {
         @include sizes(50px, 50px);
         margin: 0rem 1rem 1rem 0rem;
      }
   }
}

/* RESUME STYLES */
.resume__cards {
   h2 {
      margin-bottom: 1.5rem;
   }
   div {
      box-shadow: 0px 0px 15px #1e23261e;
      margin-bottom: 1.5rem;
      border-radius: map-get($commonStyles, borderRadius);
      padding: 1.5rem;
      text-align: left;
      span {
         color: $blue;
      }
      h5 {
         color: $darkBlue;
         margin: .25rem 0;
      }
      p {
         strong {
            color: $blue;
         }
      }
   }
}

/* CONTACT STYLES */
.contactForm, .contactMap {
   width: 90%;
   margin: 0 auto;
}

.contactMap  {
   iframe {
      @include sizes(100%, 325px);
      padding-top: 2rem;
   }
}

.contactForm input, textarea {
   width: 100%;
   padding: .75rem .5rem;
   box-shadow: 0px 0px 15px #1e23260a;
   margin: .5rem 0;
}

.contactForm textarea {
   height: 150px;
}

.contactForm input::placeholder, textarea::placeholder {
   color: $darkBlue;
}

.btn__blue {
   background: $blue;
   color: #FFF;
   padding: 1rem;
   transition: .3s;
   &:hover {
      background: $heavyBlue;
      color: #FFF;
   }
}

/* RESPONSIVE */
@media only screen and (min-width: 576px) and (max-width: 767px) {
 
   .contactForm, .contactMap {
      width: 75%;
   }

   .resume__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h2 {
         width: 100%;
      }
      div {
         width: 47.5%;
      }
   }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

   .infoCards--personal div {
      width: 48%;
      border-radius: map-get($commonStyles, borderRadius);
      padding: 1.1rem .75rem;
      background-color: #FFF;
      .fas {
         font-size: 30px;
      }
      h3 {
         font-size: 13.5px;
      }
   }

   .infoCards--interests div {
      width: 22.5%;
   }

   .contactForm, .contactMap {
      width: 55%;
   }

   .resume__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h2 {
         width: 100%;
      }
      div {
         width: 47.5%;
      }
   }
}

@media only screen and (min-width: 1024px) {

   .menu__icon {
      display: none;
   }

   #navBar ul {
      display: flex;
      position: unset;
      background-color: transparent;
      width: auto;
      li {
         margin-left: 1.5rem;
      }
   }

   .w50__desktop {
      width: 47.5%;
   }

   .infoCards--personal div {
      width: 46%;
      border-radius: map-get($commonStyles, borderRadius);
      padding: 1.1rem .75rem;
      background-color: #FFF;
   }

   .infoCards--interests div {
      width: 22.5%;
   }

   .infoCards--personal div, .infoCards--interests div {
      transition: .3s ease-in-out;
      &:hover {
         box-shadow: 0px 0px 15px #1e23261e;
      }
   }

   .grayContainer {
      padding: 2.5rem;
   }

   .contactForm, .contactMap {
      width: 47.5%;
   }

   .hideOnMobile {
      display: block;
   }

   .contactMap iframe {
      height: 95%;
   }
}

/* BOOTSTRAP RESET */

.navbar-dark .navbar-toggler {
   border: none;
}

.navbar-toggler:focus {
   box-shadow: none;
}

p {
   margin: 0;
}

.row {
   margin: 0;
}

.row>* {
   padding: 0;
}

.m-4 {
   margin: 2.5rem 0!important;
}

.progress-bar {
   background-color: $blue;
}

.nav-pills .nav-link {
   border-radius: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background-color: $darkestBlue!important;
}

.imgprt {
   margin: 0 .75rem 1.5rem;
}